//variables
$num : 1;
$tma : 30px;
$tie : 20s;

//cadenas
$nombre : "Diego";
$valor : "block";
$sexo : "hombre";

//colores
$rojo : white;
$color_rgb : rgb(100,192,82);
$color_hex : #2f7060;

$border: 10px dashed red;